.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
.list {
margin: 0;
padding: 0;
list-style: none;  
}

.cards {
    padding-top: 80px;
    background-color: bisque;

    &__title {
        margin-bottom: 44px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 160%;
        color: #1D1F22;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

    }

    &__item {
        margin-right: 21px;
        margin-bottom: 100px;
        padding: 16px;

        // &:nth-child(3n) {
        //     margin-right: 0;
        // }

        // &:nth-last-child(-n+3) {
        //     margin-right: 0;
        // }
    }
}

.card {
    box-sizing: border-box;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 373px;
    height: 444px;
    border: 1px solid #fff;
    border-radius: 5px;

    &__discription {

        
    }

    &__name {

    }

    &__price {

    }
}